h1{
color: cadetbl;

}






p{

color: blue;
font-size: 60px;
font-family: 'Style Script', cursive;

}

div{

background-color: chocolate;
margin:0 auto;
width: 2000px;
height: 600px;
}


.Class4{

  color: aqua;


}
